{% extends 'base.html' %}
{% block body %}
<div class="bottom-data">
    <div class="orders">
        <div class="header">
            <i class='bx bx-receipt'></i>
            <h3>All Tasks</h3>
            <table>
                <tbody>
                    {% for todo in todo_list %}
                    <tr>
                        <td class="thick">{{ todo.name }}</td>
                        {% if todo.done == False %}
                        <td><label class="label pending">Not done</label></td>
                        {% else %}
                        <td><label class="label done">Done</label></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr>

<div class="bottom-data">
    <div class="orders">
        <h2>Projects</h2>
        <table>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>{{ project.start_date }} to {{ project.end_date }}</td>
                    <td>{{ project.status }}</td>
                    <td><a href="{{ url_for('update_project', project_id=project.id) }}">Edit</a></td>
                    <td>
                        <form method="POST" action="{{ url_for('delete_project', project_id=project.id) }}" style="display:inline;">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <hr>
    </div>
</div>
{% endblock %}
