{% extends 'base.html' %}
{% block body %}

<h1>Update Project</h1>
<form method="POST">
    {{ form.hidden_tag() }}

    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}
    </p>
    <p>
        {{ form.start_date.label }}<br>
        {{ form.start_date() }}
    </p>
    <p>
        {{ form.end_date.label }}<br>
        {{ form.end_date() }}
    </p>
    <p>
        {{ form.status.label }}<br>
        {{ form.status() }}
    </p>
    <p>{{ form.update() }}</p>
</form>

{% endblock %}